body{
	margin: 0 auto;
	background-image:url(../img/fondo.jpg);
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family:"MS Reference Sans Serif", "Estrangelo Edessa", Calibri;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:black;
	font-weight:bold;
	cursor:pointer;
}
.container{
		display:grid;
		grid-template-columns:1fr;
		align-items:center;
		justify-content:center;
		margin:0 auto;
		background-color:white;
		width:300px;
		padding:0 15px;
}
#item1, #inicio, #logo{
		display:flex;
		grid-column:1/2;
		width:300px;
		height:100px;
		grid-row:1;
}
#logo{
		background-image:url(../img/logo.jpg);
	background-repeat:no-repeat;
	background-size:contain;
}
#item2{
	display:flex;
	grid-column:1/2;
	justify-content:center;
	grid-row:2;
}
#busqueda, #buscar{
	width:250px;
	
}
#buscar{
	background-image:url(../img/buscar.png);
	background-repeat:no-repeat;
	background-position: right;
	border-radius:3px;
	border:2px solid #a6a6a6;
}
#item4{
text-align: center;
text-transform: uppercase;
background-color: cornsilk;
border:1px solid #000;
padding:2px;
word-spacing:4px;
letter-spacing:2px;
grid-row:3;
}
#item5, #bienvenida{
		display:flex;
		grid-column:1/2;
		justify-content:center;
		align-items:center;
		grid-row: 4;
		}
#bienvenida{
	background-image:url(../img/welcomeres.jpg);
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
width:300px;
		height:100px;
}
#carousel{
display: none;
}
h1{
	margin-bottom: 5px;
	margin-top: 5px;
	text-transform:uppercase;
	text-align: center;
}
#np{
text-align: center;
}
.art{
border: 3px solid #00b2ff4d;
border-style: double;
margin: 2px;
}
.imgart{
height:250px;
background-repeat:no-repeat;
background-size:cover;
display:flex;
grid-column:1/2;
}
#art1{
background-image:url(../img/1.jpg);

}
#art2{
background-image:url(../img/2.jpg);
}
#art3{
background-image:url(../img/3.jpg);
}
#art4{
background-image:url(../img/4.jpg);
}
#art5{
background-image:url(../img/5.jpg);
}
#art6{
background-image:url(../img/6.jpg);
}
.agregar{
display:flex;
width:50px;
height:50px;
position: relative;
left: 35%;
}
.agregar div{
background-image:url(../img/agregar.png);
background-repeat:no-repeat;
background-size:contain;
}
.mediosdepago{
display:grid;
grid-template-columns:25% 25% 25% 25%;

padding:5px;
}
.mediosdepago h2{
grid-column:1/5;
text-align:center;
height:50px;
border-top:2px solid #fff;
border-top-style:double;
margin:5px;
}
.mdp{
	background-repeat:no-repeat;
	background-size:contain;
	grid-row:2;
	height:50px;
}
#visa{
display:flex;
background-image:url(../img/p1.png);
grid-column:1/2;
}
#mastercard{
display:flex;
background-image:url(../img/p2.png);
grid-column:2/3;
}
#american{
display:flex;
background-image:url(../img/p3.png);
grid-column:3/4;
}
#paypal{
display:flex;
background-image:url(../img/p4.png);
grid-column:4/5;
}

.footer{
grid-row:99;
display:grid;
border-top:2px solid #000;
border-top-style:dotted;
grid-template-rows: 50px 30px 50px;
margin-top: 25px;
padding: 5px;
}
#horario{
 display:flex;
 grid-row:1;
 font-size:12px;
}
#horario p{
 text-align:center;
 margin:1px;
}
.navbaja{
grid-row:2;
text-align:center;
word-spacing:4px;
}
.social{
grid-template-columns:1fr 1fr 1fr;
display:grid;
}
.redes{
display:flex;
margin:20px 0 20px 0;
height:50px;
background-position:center center;
background-repeat:no-repeat;
background-size:contain;
grid-column:1;
justify-content:center;
align-items:center;
}
#fc{
background-image:url(../img/facebook.png);
background-position:center center;
grid-column:1/2;
}
#tw{
background-image:url(../img/twitter.png);
grid-column:2/3;
}
#insta{
background-image:url(../img/instagram.png);
grid-column:3/4;
}
.errores{
background-color:red;
	-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color:white;
	display:none;
	font-size:8px;
		margin-top: -50px;
	margin-left: 180px;
	padding: 10px;
	position: absolute;
}
#imgperso{
background-image:url(../img/r1.png);
height:250px;
background-repeat:no-repeat;
background-size:cover;
display:flex;
grid-column:1/2;
}
#textop{
position: relative;
left: 100px;
top: 80px;
max-width:90px;
max-height:200px;
overflow:hidden;
font-size: 22px;
font-family: "Snap ITC";
}
@media only screen and (min-width:500px){
		.container{
			grid-template-columns: 1fr 1fr;
			width: 600px;
		}
		#item3{
			display:flex;
			grid-column:2/3;
			grid-row:1;
			justify-content:right;
		
		}
		#carrito, #imgcarrito{
			background-image:url(../img/carrito.png);
			width:80px;
			height:80px;
			color:red;
			text-align:end;
			font-size: 28px;
			text-shadow: 2px 2px 3px black;
		}
		#item2{
		grid-column:1/3;
			grid-row:2;
		}
		#item4{
		grid-column:1/3;
			grid-row:3;
		}
		#item5, #bienvenida{
		display:flex;
		grid-column:1/3;
		grid-row:4;
		    height: 200px;
		max-width: 100%;
		width: 800px;
		}
		#bienvenida{
			background-image:url(../img/welcome.jpg);
			background-position:center center;
			background-size:cover;
			background-repeat:no-repeat;
		}
		#producto{
			display: contents;
			
		}
		#np{
			grid-column:1/3;
			grid-row:6;
		}
		.mediosdepago{
			grid-column:1/3;
		}
		.mdp{
		background-position-x: center;
		}
		.footer{
			justify-content: center;
			align-items: center;
			grid-column: 1/3;
		}
		#horario{
		font-size:18px;
		}
		.navbaja{
		word-spacing:25px;
		letter-spacing:3px;
		}
		#carousel{
		display:flex;
		justify-content:center;
		align-items:center;
		grid-column:1/3;
		grid-row:5;
		}
		#slider{
		height:200px;
		background-position:center;
		background-size:contain;
		}
		.ant, .sig{
			width:50px;
			height:50px;
		}
		#ante, #sigu{
		background-size:contain;
		}
		#ante{
		background-image:url(../img/ant.png);
		}
		#sigu{
		background-image:url(../img/sig.png);
		}
}


@media only screen and (min-width:850px){
		.container{
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		width:950px;
		}
		#item2{
		grid-column:2/4;
		grid-row:1;
		}
		#item3{
		grid-column:4/5;
		}
		#busqueda, #buscar{
		width:350px;
		height:30px;
		}
		#item4{
		grid-column:1/5;
		word-spacing: 10px;
		letter-spacing: 5px;
		grid-row: 2;
		}
		#item5{
		grid-column:1/5;
		grid-row:3;
		}
		#item5, #bienvenida{
		width:950px;
		height:350px;
		}
		#producto{
			display:grid;
			grid-column:1/5;
		}
		#np{
		grid-column:1/5;
		grid-row:1;
		}
		.imgart{
		display:block;
		height:250px;
		background-repeat:no-repeat;
		background-size:cover;
		}
		.mediosdepago{
		grid-column: 3/5;
		grid-template-areas:
										"h2 h2"
										"visa mastercard"
										"american paypal";
		grid-template-columns: 50% 50%;
		}
		.mediosdepago h2{
				grid-area:h2;
				text-align:center;
				font-size:45px;
				text-transform:uppercase;
				margin: 0px auto 30px auto;
		}
		#visa{
		grid-area:visa;
		}
		#mastercard{
			grid-area:mastercard;
		}
		#american{
		grid-area:american;
		}
		#paypal{
		grid-area:paypal;
		}
		.mdp{
		background-position:center center;
		background-size:contain;
		height:130px;
		}
		.footer{
			grid-column:1/5;
			grid-template-columns:1fr 1fr 1fr;
			grid-template-rows:1fr;
		}
		#horario{
		grid-column:1/2;
		}
		.navbaja{
		grid-column:2/3;
		grid-row:1;
		font-size:20px;
		}
		.social{
		grid-column:3/4;
		}
		#carousel{
		display:flex;
		justify-content:center;
		align-items:center;
		grid-column:1/5;
		grid-row:4;
		}
		#slider{
		height:400px;
		background-position:center;
		background-size:contain;
		}
}
/*Carrito*/
.hcarro{
	text-transform:uppercase;
	text-align:center;
}
#htitulo{
		grid-column:1/2;
		grid-row:5;
}
.htabla{
		display:flex;
		justify-content:center;
		align-items:center;
		width: 300px;
		grid-row:6;
}
.htabla table{
	width:300px;
	grid-row:7;
	border: solid #00b2ff4d;
	border-style:double;
	background-color:white;	
}
.cantidad{
max-width:50px;
}
.htabla th, .htabla td{
	border-top: solid #00b2ff4d;
	border-top-style:double;
}
#seguir{
		text-align:center;
}
#confir, #seguir{
		border: 2px solid #b2e8ff;
background-color: white;
margin: 10px;
}

@media only screen and (min-width:500px){
			#htitulo{
				grid-column:1/3;
			}
			.htabla{
				width:600px;
				grid-column:1/3;
			}
			.htabla table{
			width: 500px;
			}
			#confir, #seguir{
			height: 35px;
			font-size: 18px;
			}		
}
@media only screen and (min-width:850px){
		#htitulo{
			grid-column:1/5;
		}
		.htabla{
			width:950px;
			grid-column:1/5;
			justify-content:center;
			align-items:center;
		}
		.htabla table{
			width:800px;
		}
		#confir{
			grid-column: 1/3;
		}
		#seguir{
			grid-column:3/5;
		}
		#confir, #seguir{
			grid-row:7;
		}

}
/*Contacto*/
#ch1{
		text-align:center;
		grid-column:1/2;
		grid-row: 6;
}
.formulario{
		display:flex;
		grid-column:1/2;
		grid-row:7;
		justify-content:center;
		align-items:center;
		padding:10px;
}
#contacto{
				width:250px;
}
#contacto fieldset{
				border: 2px solid blue;
				border-radius: 10px;
}
.camposcontacto{
		border: 2px solid blue;
		width: 200px;
height: 30px;
margin: 10px;
border-radius: 10px;

}
.datoscontact{
	grid-row:9;
	grid-column:1/2;
	text-align:center;
}
.mapa{
	display:none;
	background-image:url(../img/mapa.jpg);
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
}
@media only screen and (min-width:500px){
				#ch12{
					grid-row:6;
					grid-column:2/3;
				}
				.datoscontact{
					grid-column:2/3;
					grid-row:7;
				}
				.mapa{
					display:flex;
					justify-content:center;
					align-items:center;
					height:400px;
					grid-column:1/5;
					grid-row:8;
					margin:20px;
				}
				.mapa a{
						height:100px;
						width: 50px;
				}
		}
@media only screen and (min-width:850px){
				#ch1, .formulario{
					grid-column:1/3;
				
				}
				#ch12{
					grid-row:6;
					grid-column:3/5;
				}
				.datoscontact{
					grid-row:7;
					grid-column:3/5;
				}
				.mapa{
					display:flex;
					justify-content:center;
					align-items:center;
					height:600px;
					grid-column:1/5;
					grid-row:8;
					margin:20px;
				}
				.mapa a{
						height:100px;
						width: 50px;
				}
		}
/*Personalización*/
#pp{
	grid-column:1/2;
}
.person{
	display:flex;
	grid-column:1/2;
	justify-content:center;
	align-items:center;
	height: 250px;
}
.personimg{
	height:250px;
	width:300px;
}
#perh1, #perh2, #perh3, #perh4, #opcionesh2{
	text-align:center;
	grid-column:1/2;
}
.contsel{
	display:grid;
	grid-template-areas:50px 50px 50px 50px;

}
.seleccion, #textor{
	display:flex;
	grid-column:1/2;
	justify-content:center;
	align-items:center;
	border-radius:5px;
}
#listo{
	border: 2px solid #b2e8ff;
	background-color: white;
	margin: 10px;
	
}
@media only screen and (min-width:500px){
				#pp{
					grid-row:5;
					grid-column:1/3;
				}
				#perh2{
					grid-row:1;
				}
				#opcionesh2{
					grid-row:6;
					grid-column:2/3;
				}
				#listo{
				display:flex;
				justify-content:center;
				align-items:center;
					grid-column:1/3;
					height:40px;
				}
		}
@media only screen and (min-width:850px){

			#pp{
				grid-column:1/5;
			}
			#perh1, #opcionesh2{
				grid-row: 6;
			}
			#perh1{
				grid-column:1/3;
			}
			#opcionesh2{
				grid-column:3/5;
			}
			.person{
				grid-row:7;
				grid-column:1/3;
			}
			.contsel{
				grid-row:7;
				grid-column:3/5;
			}
			.seleccion{
				width:300px;
				justify-content:center;
				align-items:center;
				position: relative;
				left: 15%;
			}
			#listo{
				grid-column:2/4;
				grid-row:8;
			}
			#textor{
			width:300px;
			justify-content:center;			
			align-items:center;
			}
			
			
}